.currency-grid-container {
  .btn-currency-add {
    margin-left: 8px;
  }
  .currency-grid {
    margin-top: 12px;
    margin-bottom: 4px;
    max-width: initial;
    th {
      text-transform: uppercase;
      &.required em {
        color: #c30b25;
      }
    }
    .oro-popover-content {
      color: #777;
      font-weight: normal;
      font-size: 13px;
      line-height: 20px;
      text-transform: none;
    }
    input[type=radio] {
      margin-top: -2px;
    }
    .currency-rate input {
      width: 100px;
    }
    .action-cell .tooltip-icon {
      margin: 0 0 0 5px;
    }
  }
  &.disabled .currency-grid {
    opacity: 0.5;
    pointer-events: none;
  }
  .new-currency {
    width: 295px;
    display: inline-flex;
  }
}

.mobile-version .currency-select-enabled {
  .multicurrency-fields-wrapper {
    width: 100%;
    input {
      width: calc(~"100% - 62px") !important;
    }
    select {
      width: 62px !important;
    }
  }
  .base-currency-field {
    width: 100%;
    input {
      width: calc(~"100% - 62px") !important;
    }
  }
}
