{% block _payment_methods_aligent_braintree_widget %}
    {% set paymentMethodComponentOptions = view.options|default({})|merge({paymentMethod: name}) %}

    <div
        data-page-component-module="aligentbraintree/js/app/components/braintree-method-component"
        data-page-component-options="{{ paymentMethodComponentOptions|json_encode }}"
    >
    </div>
    <input type="hidden" id="nonce-input" aria-hidden="true">
    <input type="hidden" id="device-data-input" aria-hidden="true">
{% endblock %}
