.website-matcher-list {
  width: 400px;

  table {
    width: auto;
  }

  td {
    vertical-align: top;
  }

  th {
    &.matcher-name {
      width: 240px;
    }
  }

  td {
    span {
      &.validation-failed {
        white-space: nowrap;
        width: 50px;
      }
    }
  }

  input {
    &.priority {
      width: 50px !important;
    }
  }
}
